<footer>
  <div class="container-footer">
    <div class="container-footer-infos grid-container justify-content-center align-items-center">
      <div class="container-infos row gx-5 custom-gx">
        <div class="container container-infos-1 col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-4">
          <h4 class="merriweather-black">Institucional</h4>
          <p><a href="#">Sobre a GamerMania</a></p>
          <p><a href="#">Política de Entrega</a></p>
          <p><a href="#">Política de Venda</a></p>
          <p><a href="#">Política de Devolução e Troca</a></p>
          <p><a href="#">Política de Privacidade</a></p>
          <p><a href="#">Política de Garantia</a></p>
          <h4 class="merriweather-black">Acessibilidade</h4>
          <p><a href="#">Acessibilidade</a></p>
        </div>
        <div class="container container-infos-2 col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-4">
          <h4 class="merriweather-black">Categorias de Produto</h4>
          <p><a href="#">Ação</a></p>
          <p><a href="#">Aventura</a></p>
          <p><a href="#">RPG</a></p>
          <p><a href="#">Battle Royale</a></p>
          <p><a href="#">Estratégia Em Tempo Real</a></p>
          <p><a href="#">Esportes</a></p>
          <p><a href="#">Sandbox</a></p>
          <p><a href="#">MOBA</a></p>
        </div>
        <div class="container container-infos-3 col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-4">
          <h4 class="merriweather-black">Minha Conta</h4>
          <p><a href="#">Meus Pedidos</a></p>
          <p><a href="">Meus Dados</a></p>
          <p><a href="">Cadastrar</a></p>
          <p><a href="">Excluir</a></p>
          <h4 class="merriweather-black" id="redes-sociais">Siga-nos Nas Redes Sociais</h4>
          <a href=""><img src="./assets/img/facebook.png"  alt="facebook" id="facebook"></a>
          <a href=""><img src="./assets/img/instagram.png" alt="instagram" id="instagram"></a>
        </div>
        <div class="container container-infos-4 col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-4">
          <h4 class="merriweather-black">Fale Conosco</h4>
          <p><img src="" alt=""><a href="">0800 994 215</a></p>
          <p><img src="" alt=""><a href="">contato@gamermania.com</a></p>
          <h4 class="merriweather-black">Atendimento</h4>
          <p>De Segunda a Sábado</p>
          <p>Das 08:00h às 18:00h</p>
          <p>(Exceto Domingos e Feriados)</p>
        </div>
      </div>
    </div>

    <!-- Sobre a empresa -->
    <div class="container-footer-empresa">
      <div
        class="container container-empresa text-center d-flex flex-column align-items-center justify-content-center bree-serif-regular">
        <img src="./assets/img/logo-gamermania.png" alt="logo-gamermania">
        <p>CNPJ: 27.455.097/0001-21</p>
        <p>Endereço: Rua Sebastião Alves, 1329</p>
        <p>Centro - São Paulo/SP</p>
        <p>CEP: 65720-021</p>
        <p id="direitos">© 2024 GamerMania. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>