<main>
    <div class="container d-flex justify-content-center container-login">
        <div class="container-login-form">
            <h1 class="merriweather-black">Faça seu login</h1>
            <span id="erro"></span>
            <form name="loginusuario" method="post">
                <div class="mb-3">
                    <label for="usuario" class="form-label">Usuário</label>
                    <input type="text" class="form-control" id="usuario" name="usuario"
                        placeholder="Email, CPF ou Número" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha"
                        placeholder="Insira sua senha">
                </div>
                <button class="bnt rounded-3" type="button" onclick="login()">Entrar</button>
            </form>
            <p><a href="">Esqueceu sua senha?</a></p>
            <p>Não tem uma conta? <a href="#" id="link-cadastro">Cadastre-se</a></p>
        </div>
    </div>
</main>