<main>
    <div class="container">
      <!-- Banner -->
      <div class="d-flex justify-content-center align-items-center container-banner">
        <img src="./assets/img/banner.png" alt="Banner">
      </div>
      <!-- Produtos da Main -->
      <div class="produtos-main">
        <!-- Principais Ofertas -->
        <section class="principais-ofertas">
          <p class="titulos-main">Principais Ofertas</p>
          <div class="d-flex align-items-center cards">
            <div class="card">
              <img src="./assets/img/principais ofertas/The-Witcher-3.jpeg" class="card-img-top d-flex" alt="The-Witcher-3">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">THE WITCHER 3: WILD HUNT</h5>
                  <h4 class="preco-produto">R$ 69,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/principais ofertas/Grand-Theft-Auto-V.jpeg" class="card-img-top"
                alt="Grand-Theft-Auto-V">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">Grand Theft Auto V (GTA 5) </h5>
                  <h4 class="preco-produto">R$ 109,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/principais ofertas/Red-Dead-Redemption-2.jpeg" class="card-img-top"
                alt="Red-Dead-Redemption-2">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">Red Dead Redemption II</h5>
                  <h4 class="preco-produto">R$ 69,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/principais ofertas/Rainbow-Six-Siege.jpeg" class="card-img-top"
                alt="Rainbow-Six-Siege">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">Tom Clancy's Rainbow Six Siege</h5>
                  <h4 class="preco-produto">R$ 59,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/principais ofertas/Assassin's-Creed-Valhalla.jpeg" class="card-img-top"
                alt="Assassin's-Creed-Valhalla">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">Assassin's Creed Valhalla</h5>
                  <h4 class="preco-produto">R$ 174,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
          </div>
        </section>

        <!-- Mais vendidos -->
        <section class="mais-vendidos">
          <p class="titulos-main mt-5">Mais Vendidos</p>
          <div class="d-flex align-items-center cards">
            <div class="card">
              <img src="./assets/img/mais vendidos/Call-of-Duty-Modern-Warfare-III.jpg" class="card-img-top"
                alt="Call-of-Duty-Modern-Warfare-III">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">Call of Duty: Modern Warfare III </h5>
                  <h4 class="preco-produto">R$ 159,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/mais vendidos/Final-Fantasy-VII-Rebirth.png" class="card-img-top"
                alt="Final-Fantasy-VII-Rebirth">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">Final Fantasy VII: Rebirth </h5>
                  <h4 class="preco-produto">R$ 319,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/mais vendidos/The-Legend-of-Zelda-Tears-of-the-Kingdom.jpeg" class="card-img-top"
                alt="The-Legend-of-Zelda-Tears-of-the-Kingdom">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">The Legend of Zelda: Tears of the Kingdom</h5>
                  <h4 class="preco-produto">R$ 339,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/mais vendidos/Star-Wars-Jedi-Survivor.jpeg" class="card-img-top"
                alt="Star-Wars-Jedi-Survivor">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">Star Wars Jedi: Survivor</h5>
                  <h4 class="preco-produto">R$ 269,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/mais vendidos/Resident-Evil-4-Remake.jpg" class="card-img-top"
                alt="Resident-Evil-4-Remake">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">Resident Evil 4 Remake</h5>
                  <h4 class="preco-produto">R$ 279,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
          </div>
        </section>

        <!-- Lançamentos -->
        <section class="lancamentos">
          <p class="titulos-main mt-5">Lançamentos</p>
          <div class="d-flex align-items-center cards">
            <div class="card">
              <img src="./assets/img/lançamentos/final-fantasy-XVI.jpg" class="card-img-top" alt="final-fantasy-XVI">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">Final Fantasy XVI: The Rising Tide</h5>
                  <h4 class="preco-produto">R$ 89,90</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/lançamentos/Kunitsu-Gami-Path-of-the-Goddess.jpg" class="card-img-top"
                alt="Tales-of-Kenzera-Zau">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">Kunitsu-Gami: Path of the Goddess:</h5>
                  <h4 class="preco-produto">R$ 259,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/lançamentos/Expansão-de-Final-Fantasy-XIV.jpg" class="card-img-top"
                alt="Expansão-de-Final-Fantasy-XIV">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">Expansão de Final Fantasy XIV</h5>
                  <h4 class="preco-produto">R$ 169,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/lançamentos/Flintlock-The-Siege-of-Dawn.jpeg" class="card-img-top"
                alt="Rainbow-Six-Siege">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">Flintlock: The Siege of Dawn</h5>
                  <h4 class="preco-produto">R$ 189,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/lançamentos/another_crabs_treasure.jpg" class="card-img-top"
                alt="another_crabs_treasure">
              <div class="card-infos">
                <div class="text-box">
                  <h5 class="card-title">Another Crab's Treasure</h5>
                  <h4 class="preco-produto">R$ 179,99</h4> <span>À VISTA</span>
                </div>
                <a href="#" class="btn btn-primary button-preco"><img src="./assets/img/carrinho-main.png"
                    alt="carrinho">COMPRAR</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- Section de pesquisa por empresa -->
    <section class="empresas-jogos">
      <div>
        <p class="titulos-main">Procure jogos da sua empresa favorita</p>
      </div>
      <div>
        <button id="sony"></button>
        <button id="microsoft"></button>
        <button id="nintendo"></button>
        <button id="tencent"></button>
        <button id="activision"></button>
      </div>
    </section>
  </main>